In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Pokemon.csv') 
df = df.drop(['#'], axis = 1) # Dropping the index column

In [3]:
df.describe() # displaying general statistical data 
# Here we can easily see the RANGE  of the sample.

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [4]:
# False = Non-Legendary
df.groupby(['Legendary']).mean()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Legendary,,,,,,,,
False,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354
True,637.384615,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615,3.769231

In [5]:
#
# Initializing dfs for .mode() method  
#
df_legendary = df   
df_non_legendary = df   

#
# Parsing and  dropping row's indexes according to the df's requirements 
#

for x in range (df.shape[0]):
    if df['Legendary'][x] == False:
        df_legendary = df_legendary.drop([x])  
    else:
        df_non_legendary = df_non_legendary.drop([x])

In [6]:
# Dropping the Name Column since we do not need them
df_legendary = df_legendary.drop(['Name'], axis = 1) 
df_non_legendary = df_non_legendary.drop(['Name'], axis = 1)

In [7]:
# LEGENDARY sample
#
# Applying the .mode() method on the sample. #value that appears most often
# 

for x in df_legendary.columns:
    print( f" \n {x} : { df_legendary[x].mode() }")

 Type 1 : 0    Psychic
dtype: object

 Type 2 : 0    Flying
dtype: object

 Total : 0    580
dtype: int64

 HP : 0    100
dtype: int64

 Attack : 0    100
dtype: int64

 Defense : 0    90
dtype: int64

 Sp. Atk : 0    150
dtype: int64

 Sp. Def : 0    90
dtype: int64

 Speed : 0    90
dtype: int64

 Generation : 0    3
dtype: int64

 Legendary : 0    True
dtype: bool

In [8]:
# NON-LEGENDARY sample
#
# Applying the .mode() method on the sample. #value that appears most often
# 
for x in df_non_legendary.columns:
    print( f" \n {x} : { df_non_legendary[x].mode() }")

 Type 1 : 0    Water
dtype: object

 Type 2 : 0    Flying
dtype: object

 Total : 0    405
dtype: int64

 HP : 0    60
dtype: int64

 Attack : 0    65
dtype: int64

 Defense : 0    70
dtype: int64

 Sp. Atk : 0    60
dtype: int64

 Sp. Def : 0    50
dtype: int64

 Speed : 0    60
dtype: int64

 Generation : 0    1
dtype: int64

 Legendary : 0    False
dtype: bool

In [9]:
# We can observe that .median() method is approx/almost similar to .mean() meaning that the data is not skewed,it is normalized. 
df.groupby(['Legendary']).median()

           Total    HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
Legendary
False      425.0  65.0    72.0     66.0     65.0     65.0   64.0         3.0
True       600.0  91.0   110.0    100.0    120.0    100.0  100.0         4.0

In [10]:
 df.groupby(['Legendary']).std() # Standard Deviation. Better results on Legendary (!! except the Sp/Speed Defense) -->
 # --> meaning that some Legendary pokeman have a higher coeficient of variety in speed Defense --> should be careful choosing
# a pokemon to fight with. More attention should be paid to the Sp. Def. detail on a legendary pokemon.

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Legendary,,,,,,,,
False,106.760417,24.808849,30.490153,30.408194,29.091705,25.669310,27.843038,1.673471
True,60.937389,21.722164,30.348037,28.255131,31.104608,28.827004,22.952323,1.455262

In [12]:
df.groupby(['Legendary']).var() # Variantion =  that is bassically  .std() ^ 2 by the formula.

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Legendary,,,,,,,,
False,11397.786736,615.478978,929.649402,924.658277,846.327279,658.913500,775.234759,2.800504
True,3713.365385,471.852404,921.003365,798.352404,967.496635,830.996154,526.809135,2.117788

In [13]:
df.corr() # Displaying all the correlation  info

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Total,1.000000,0.618748,0.736211,0.612787,0.747250,0.717609,0.575943,0.048384,0.501758
HP,0.618748,1.000000,0.422386,0.239622,0.362380,0.378718,0.175952,0.058683,0.273620
Attack,0.736211,0.422386,1.000000,0.438687,0.396362,0.263990,0.381240,0.051451,0.345408
Defense,0.612787,0.239622,0.438687,1.000000,0.223549,0.510747,0.015227,0.042419,0.246377
Sp. Atk,0.747250,0.362380,0.396362,0.223549,1.000000,0.506121,0.473018,0.036437,0.448907
Sp. Def,0.717609,0.378718,0.263990,0.510747,0.506121,1.000000,0.259133,0.028486,0.363937
Speed,0.575943,0.175952,0.381240,0.015227,0.473018,0.259133,1.000000,-0.023121,0.326715
Generation,0.048384,0.058683,0.051451,0.042419,0.036437,0.028486,-0.023121,1.000000,0.079794
Legendary,0.501758,0.273620,0.345408,0.246377,0.448907,0.363937,0.326715,0.079794,1.000000

In [ ]:
# Related to Legendary Status

# If we choose  the coefficients which are > 0.3  that would be: Total Damge, Attack, Speed Attack, Speed Defense, Speed.  
""" 
If you're a heavier Pokemon and you have high speed.  
""" 
#That can easily be observed in the table describing the Features related to speed.  
# Also, the power or "Total" certainsly differs a legendary pokemon from non-legendary.